app = "voice-server"
primary_region = "fra"

[build]
  builtin = "node"

[env]
  NODE_ENV = "production"

[[services]]
  internal_port = 8080
  processes = ["app"]

  [services.concurrency]
    type = "connections"
    soft_limit = 200
    hard_limit = 500

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.tcp_checks]]
    interval = 15000
    timeout = 2000